*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(224, 36%, 15%);
    /* background-image: url(./images/favicon-32x32.png);
    background-repeat:repeat;
    background-position: 50% 50% ;
    background-size: fit;     */
}
.container{
    width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    background-color: hsl(222, 26%, 31%);
}
/* Toogle Button */
.tw-toggle {
    background: hsl(223, 31%, 20%);
    display: inline-block;
    padding: 2px 3px;
    border-radius: 20px;
    position:relative;
    margin-top: 10px;
    margin-left: 10px;
    border: 2px solid #95A5A6;
    width: 80px;
    height: 25px;
}
.tw-toggle label {
    text-align: center;
    font-family: sans-serif;
    display: inline-block;
    color: #95A5A6;
    position:relative;
    z-index:2;
    margin: 0;
    text-align: center;
    padding: 2px 4px;
    font-size: 18px;
    /* cursor: pointer; */
}
.tw-toggle input {
    /* display: none; */
    position: absolute;
    z-index: 3;
    opacity: 0;
    cursor: pointer;
}
.tw-toggle span {
    height: 20px;
    width: 20px;
    line-height: 21px;
    border-radius: 50%;
    background:#fff;
    display:block;
    position:absolute;
    left: 24px;
    top: 2px;
    transition:all 0.3s ease-in-out;
}
.tw-toggle input[value="false"]:checked ~ span{
    background:hsl(6, 70%, 34%);
    left:2px;
    color:#fff;
}
.tw-toggle input[value="true"]:checked ~ span{
    background:hsl(176, 100%, 44%);
    left: 46px;
}
.tw-toggle input[value="-1"]:checked ~ span{
    background:hsl(6, 70%, 34%);
    left: 23px;
}
.tw-toggle input[value="false"]:checked + label,.tw-toggle input[value="true"]:checked + label{
    color:#fff;
}
.tw-toggle input[value="-1"]:checked + label{
    color:#fff;
}
   /* Top nav */
.top-nav{
    display: block;
    margin: 0 auto;
    width: 90%;
    max-width: 500px;
}
.container-full{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.theme-section{
    display: flex;
}
.theme{
    margin-top: 6px;
    margin-right: 10px;
    font-family: 'Pacifico', cursive;
    font-size: 15px;

}
.calc{
    font-family: 'Dancing Script', cursive;
    font-size: 15px;
    
}
.the-color{
    color: white;
}
/* input-field-section */
.input-field-section{
    margin: 20px 0 20px 0;
}
#user-input{
    padding: 25px 0;
    background-color: hsl(224, 36%, 15%);
    color: white;
    display: block;
    margin: 0 auto;
    width: 90%;
    max-width: 500px;
}
/* calc buttons */
.calc-buttons{
    background-color: hsl(224, 36%, 15%);
    display: block;
    margin: 0 auto;
    width: 90%;
    max-width: 500px;
    padding: 10px 0;
    margin-bottom: 40px;
}
.key-buttons{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px 16px;
    gap: 7px;
}
.result{
    display: grid;
    grid-template-columns: auto auto;
    padding: 5px 16px;
    gap: 10px;
}
.digits{
  width: 70%;  
  margin: auto;
  padding: 10px 5px;
  border-radius: 5px;
  border: none;
  font-size: 30px;
  font-family: 'Dancing Script', cursive;
  background-color: hsl(30, 25%, 89%);
}
.reset{
  width: 90% ;
  margin: auto;
  padding: 10px 5px;
  border-radius: 5px;
  border: none;
  font-size: 30px; 
  font-family: 'Dancing Script', cursive;
}
.del-reset{
    background-color: hsl(225, 21%, 49%);
    box-shadow: hsl(224, 28%, 35%) ;
}
.equal{
    background-color: hsl(6, 70%, 34%);
    box-shadow: hsl(28, 16%, 65%) ;
}

@media (min-width: 700px)  {
    .container{
        /* border: 1px solid white; */
        width: 500px;
        /* display: flex; */
        position: absolute;
        top: 50%;
        left: 50%;
        right: 50%;
        transform: translate(-50%, -50%)
      
    }  
}
/* toogle 2 */
